@page {
  size: 90mm 130mm;
  margin: 0;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  background: #ececec;
}

@media print {

  html,
  body {
    width: 90mm;
    height: 130mm;

    margin: 0;
    padding: 0;

    background: white;
  }

  body * {
    visibility: hidden;
  }

  .badge,
  .badge * {
    visibility: visible;
  }

  .badge {
    position: absolute;

    left: 0;
    top: 0;

    width: 90mm !important;
    height: 130mm !important;

    min-width: 90mm !important;
    max-width: 90mm !important;

    min-height: 130mm !important;
    max-height: 130mm !important;

    margin: 0 !important;
    padding: 0 !important;

    box-sizing: border-box;

    overflow: hidden !important;

    box-shadow: none !important;

    border-radius: 0 !important;

    display: flex !important;
    flex-direction: column !important;
  }
}
